.favorite-movies-wrapper {
    width: 100%;
    h1 {
        text-align: center;
    }
    .favorite-movies {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem auto;
            position: relative;
            object-fit: cover;
            background-color: #3838386d;
            min-width: 500px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            border-radius: 30px;
            border: 2px solid gainsboro;
            overflow: hidden;
        }
        &__minus {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgb(146, 65, 65);
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translate(50%, 50%);
            &:hover {
                background-color: tomato;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .favorite-movies-wrapper {
        .favorite-movies {
            display: flex;
            justify-content: center;
            align-items: center;

            &__item {
                margin: 10px auto;
            }
        }
    }
}
