.movie {
    margin-right: 20px;
    scroll-snap-align: start;
    width: 270px;
    height: 180px;
    list-style: none;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    cursor: pointer;
    transition:
        transform 0.3s,
        box-shadow 0.2s ease-in-out;
    position: relative;
    &__start {
        color: yellow;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(-50%, 50%);
        &:hover {
            color: tomato;
            cursor: pointer;
        }
    }
    &__label {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(5%, -15%);
        backdrop-filter: blur(2px);
        padding: 4px;
    }
    &:hover {
        transform: scale(1.03);
        box-shadow: rgba(76, 77, 78, 0.105) 0px 8px 24px;
    }
    &__image {
        margin: 5px;
        object-fit: fill;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 700px) {
}
