.header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo__image {
  margin-right: 10px;
}

.nav {
  ul.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li {
      margin-right: 20px;
      font-size: 16px;

      a {
        padding: 7px;
        border-radius: 10px;
        background-color: #c00303;
        text-decoration: none;
        color: white;

        &:hover {
          background-color: rgb(65, 65, 65);
        }
      }
    }

    .search-icon-container {
      position: relative;
      .search-icon {
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          color: orange;
        }
      }

      .search {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgba(13, 13, 13, 0.584);
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;
        padding: 10px;
        width: 400px;

        .dropdown {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 10px;
        }
      }
    }
  }
}
