
.header {
  background: url("../../../public/images/home-bg.jpg") top left/cover no-repeat;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 175px;
}

.logo {
  height: 32px;
  width: 108px;
}

.nav--row {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  li {
    margin-right: 1rem;
    cursor: pointer;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 15px;

      &.nav--hidden--mobile {
        font-weight: bold !important;
        text-transform: uppercase !important;
      }

      &.login-nav-link {
        background-color: #e50914 !important;
        color: #fff !important;
        padding: 0.4rem 1.4rem !important;
        border-radius: 3px !important;
        text-decoration: none !important;
      }
    }
  }
}


/* Media Query for screens with a maximum width of 550px */
@media (max-width: 550px) {
  .header {
    padding: 15px 20px;
    margin-bottom: 100px;
  }

  .logo {
    height: 24px;
    width: 80px;
  }

  .nav--row {
    ul {
      li {
        margin-right: 0.5rem;

        a {
          font-size: 14px;

          &.nav--hidden--mobile {
            font-weight: bold;
            text-transform: uppercase;
          }

          &.login-nav-link {
            padding: 0.3rem 1rem;
            font-size: 14px;
          }
        }
      }
    }
  }
}