.movie-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
}

.info-col {
    margin-top: 70px;
    width: 40%;
    max-width: 400px;
    h1 {
        text-shadow: 1px 1px 1px #383838;
    }
}

.image-col {
    margin: 0px 80px;
}

.dialog_status {
    display: flex;
    justify-content: space-between;
}
.dialog_status h3 {
    font-size: 14px;
    margin-top: 8px;
    font-weight: 350;
    color: rgb(173, 173, 173);
}

.dialog_status h3 span {
    background-color: #111;
    color: red;
    padding: 2px 8px;
}

@media screen and (max-width: 768px) {
    .info-col {
        width: 90%;
        margin-bottom: 2rem;
    }
    .image-col {
        object-fit: fill;

        margin: 0px;
        img {
            width: 100%;
            margin: auto;

            object-fit: fill;
        }
    }
}
