.search-dropdown {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &:hover {
        color: tomato;
        text-decoration: underline;
    }
    &__title {
        font-weight: 500;
    }
    img {
        width: 40px;
        margin: 4px;
    }
}
.body-hidden {
    overflow: hidden;
}
