.category-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-left: 1rem;
        h3 {
            font-size: 27px;
            font-weight: 900;
            margin-left: 5px;
        }
    }

    .slider-content {
        display: flex;
        transition: transform 300ms ease;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }

    .slider-btn-left,
    .slider-btn-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 3em;
        cursor: pointer;
        z-index: 200;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 50%;

        &.slider-btn-left {
            left: 20px;
            position: absolute;
        }

        &.slider-btn-right {
            right: 20px;
        }
    }
}
